<div class="card bg-primary flex">
  <div class="p-4 ml-4 flex-none self-center hidden sm:block">
    <img src="assets/img/illustrations/checklist.svg" style="height: 170px; width: 152px">
  </div>

  <div class="p-6 text-primary-contrast flex-auto">
    <h2 class="headline m-0">Good Job, David!</h2>
    <p class="caption m-0 opacity-50">No Pending Work for the day.</p>

    <div class="mt-4 flex items-center">
      <mat-icon class="mr-2" svgIcon="mat:check_circle"></mat-icon>
      <span class="body-2 cursor-pointer">Finished All Released Inventory</span>
    </div>

    <div class="mt-1 flex items-center">
      <mat-icon class="mr-2" svgIcon="mat:check_circle"></mat-icon>
      <span class="body-2 cursor-pointer">Finished All Ordered Inventory</span>
    </div>
  </div>
</div>
