<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Products']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:card_giftcard"></mat-icon>
  </button>
</vex-secondary-toolbar>
<div class="h-full flex flex-col">


  <div class="p-6 pb-0 bg-foreground shadow-b flex-none border-b border-gray-200">
      <div class="container px-0">
          <h1 class="display-1 font-bold mt-0 mb-4 flex items-center ">
              <span @scaleIn
                  class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary/10">
                  <mat-icon svgIcon="mat:contacts"></mat-icon>
              </span>
              <span @fadeInRight class="block">Shipments</span>
          </h1>

      </div>
  </div>

  <div @stagger class="overflow-y-auto flex-auto">
    <div class="p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 container">
        <div class="card overflow-hidden" *ngFor="let item of shipments">
              <div class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative" matRipple>

                  <h2 class="title mb-1 mt-3">{{item.customer_c}}</h2>
                  <div class="body-2 text-secondary flex items-center justify-center flex-col">
                      <span class="text-gray-900"> {{item.shipping_number}}</span>
                  </div>

                  <div class="body-2 text-secondary flex items-center justify-center flex-col">
                      <span class="text-gray-900">{{item.contact_fullname}}</span>
                  </div>
                  <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_firstname}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_lastname}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_address1}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_city}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_state}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_code}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <span class="text-gray-900">{{item.shipto_phone}}</span>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center flex-col">
                    <h1 class="text-gray-900 text-1xl mt-2 font-bold">Product SKUs </h1>
                </div>
                <div class="body-2 text-secondary flex items-center justify-center" 
                *ngFor="let sku of item.products_Shipped">
                  <button mat-button color="primary" class="bg-gray-100 mt-2"
                  matBadge="{{sku.unitsShipped}}" matBadgePosition="after" matBadgeColor="primary"
                  >{{sku.productSku}}</button>
                </div>

               
              </div>

        
          </div>
      </div>
  </div>
</div>