<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Shipments']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon svgIcon="mat:more_vert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div class="container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">

  <!-- <vex-widget-assistant class="sm:col-span-2"></vex-widget-assistant> -->

  <vex-widget-quick-line-chart icon="mat:local_shipping"
                               [series]="pageViewsSeries"
                               iconClass="text-primary bg-primary/10"
                               label="Delivered Shipments"
                               value="92.4%"></vex-widget-quick-line-chart>

  <vex-widget-quick-line-chart icon="mat:data_usage"
                               [options]="uniqueUsersOptions"
                               [series]="uniqueUsersSeries"
                               iconClass="text-orange bg-orange-light"
                               label="Shipments In Process"
                               value="67.2%"></vex-widget-quick-line-chart>



  <div class="card sm:col-span-full">
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
        <span>All Shipments</span>
      </h2>
      <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
        <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
        <input [formControl]="searchCtrl"
               class="px-4 py-2 border-0 outline-none w-full bg-transparent"
               placeholder="Search..."
               type="search">
      </div>
      <span class="flex-1"></span>
    </div>

    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" class="w-4" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"

                        [checked]="selection.isSelected(row)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Image</th>
        <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
          <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle">
        </td>
      </ng-container>

      <!-- Text Columns -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
          <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
        </ng-container>
      </ng-container>

      <!-- Contact Column -->
      <ng-container matColumnDef="contact">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" mat-cell>
          <div class="flex">
            <a
               class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10"
               mat-icon-button>
              <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
            </a>

            <a
               class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
               mat-icon-button>
              <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
            </a>

            <a
               class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
               mat-icon-button>
              <mat-icon class="icon-sm" svgIcon="mat:map"></mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="labels">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
        <td *matCellDef="let row" mat-cell>
          <div  class="flex items-center gap-1">
            <div *ngFor="let label of row.labels"
                 [ngClass]="[label.textClass, label.bgClass]"
                 class="rounded px-2 py-1 font-medium text-xs flex-none">
              {{ label.text }}
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Options</th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
          <button
                  [matMenuTriggerData]="{ customer: row }"
                  [matMenuTriggerFor]="actionsMenu"
                  mat-icon-button
                  type="button">
            <mat-icon svgIcon="mat:more_horiz"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row></tr>
          <!--- Note: Will use the below Line to view product details in the above <tr>" -->
          <!-- (click)="updateCustomer(row)" -->
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
  </div>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-customer="customer" matMenuContent>
      <button mat-menu-item>
        <mat-icon svgIcon="mat:find_replace"></mat-icon>
        <span>View Delivery Details</span>
      </button>
    </ng-template>
  </mat-menu>




</div>
